[submodule "dependencies/glfw"]
	path = Libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/openal-soft"]
	path = Libraries/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "dependencies/Boxer"]
	path = Libraries/Boxer
	url = https://github.com/aaronmjacobs/Boxer.git
[submodule "Libraries/readerwriterqueue"]
	path = Libraries/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
